book_appointment_workflow.json
{
    "name": "Book Appointment Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "book-appointment",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "respond-node",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "options": {}
            },
            "id": "openai-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                700,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "options": {}
            },
            "id": "google-calendar-tool",
            "name": "Google Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                860,
                500
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "text": "={{ $json.body.query }}",
                "options": {
                    "systemMessage": "You are a specialized booking assistant. Your ONLY task is to book appointments on the connected Google Calendar.\nRULES:\n1. All appointments MUST be exactly 30 minutes long.\n2. You must strictly follow the requested time.\n3. If the requested time is not available, return a clear error message stating the conflict.\n4. Do not ask for confirmation if the slot is free; just book it.\n5. Use the current date and time as the reference point."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                780,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}