execution/n8n_sales_workflow.json
{
  "name": "Sales Transcript Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-transcript",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "range": "A:D",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "Analyze the following sales transcript. Extract the customer's main pain points, budget (if mentioned), and next steps. Return the result as a JSON object.\n\nTranscript:\n{{ $json.body.transcript }}",
        "options": {}
      },
      "name": "AI Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "processed_result",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "original_call_id",
              "value": "={{ $('Webhook').item.json.body.call_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
